<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gitick! - git yr dumb tickets!</title>

    <link rel="stylesheet" href="http://usewing.ml/dist/wing.min.css"/>	
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    
</head>
<body>
  <a href="{{ url_for("top") }}">Top</a>
  <div class="{% block content_class %}container{% endblock content_class %}">
    <div class="content" role="main">
      {% block content %}{% endblock %}
    </div>

  </div><!-- end container -->
</body>
</html>
