{% extends "base.html" %}
{% block content %}

  <h2>Tickets</h2>
  
  {% for ticket in tickets %}
    <ul class="ticket-list">
      <li>
	<a href="{{ url_for('ticket', path=ticket.path) }}">
	  {% if ticket['title'] %}
	    {{ ticket['title'] }}
	  {% else %}
	    {{ ticket.path }}
	  {% endif %}
	</a>
      </li>
    </ul>
  {% endfor %}

{# <h3>New</h3> #}
{# <ul class="ticket-list"> #}
{#   {% for ticket in data.new %} #}
{#     <li><a href="{{ url_for('ticket', path=ticket.path) }}"> #}
{# 	{{ ticket.path }} #}
{#       </a> #}
{#     </li> #}
{#   {% endfor %} #}
{# </ul> #}

{# <h3>other</h3> #}

{# <ul class="ticket-list">  #}
{#   {% for ticket in data.tickets %} #}
{#   <li><a href="{{ url_for('ticket', path=ticket.path) }}"> #}
{#       {{ ticket.path }} #}
{#     </a> #}
{#   </li> #}
{#   {% endfor %} #}
{# </ul> #}




{% endblock %}

