{% extends "base.html" %}
{% block content %}

  <h2>Tickets</h2>
  {% for d in subdirs %}
    <h3>{{ d }}</h3>
    <ul class="ticket-list">
      {% for ticket in ticket_index[d] %}
	<li>
	  <a href="{{ url_for('ticket', path=ticket.path, project=project) }}">
	    {% if ticket['title'] %}
	      {{ ticket['title'] }}
	    {% else %}
	      {{ ticket.path }}
	    {% endif %}
	  </a>
	</li>
      {% endfor %}
    </ul>
  {% endfor %}

{# <h3>New</h3> #}
{# <ul class="ticket-list"> #}
{#   {% for ticket in data.new %} #}
{#     <li><a href="{{ url_for('ticket', path=ticket.path) }}"> #}
{# 	{{ ticket.path }} #}
{#       </a> #}
{#     </li> #}
{#   {% endfor %} #}
{# </ul> #}

{# <h3>other</h3> #}

{# <ul class="ticket-list">  #}
{#   {% for ticket in data.tickets %} #}
{#   <li><a href="{{ url_for('ticket', path=ticket.path) }}"> #}
{#       {{ ticket.path }} #}
{#     </a> #}
{#   </li> #}
{#   {% endfor %} #}
{# </ul> #}




{% endblock %}

