{% extends "base.html" %}

{% block content %}
  <p>
    <b>reported by:</b> {{ data.ticket['reported'] }} </br>
    <b>at the time:</b> {{ data.ticket['date'] }} </br>
    {% if data.priority >= 7 %}
      <b>priority:</b> <b style="color: red"> {{ data.ticket['priority'] }}</b></br>
    {% else %}
      <b>priority:</b> {{ data.ticket['priority'] }} </br>
    {% endif %}
    <b>tags:</b>

      {% for t in data.tags %}
	<a href='/tagged/{{t.strip()}}'> {{t}} </a> |

      {% endfor %}

  </p>
  {{ data.ticket.html|safe }}
{% endblock %}
